@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
body {
  font-family: Montserrat;
  background: #E2E2E2;
  margin: 0;
}

noscript {
  display: block;
  margin: .5rem auto;
  background: white;
  padding: 1rem;
  width: 50%;
  border-radius: .4rem;
  text-align: center;
}

header {
  background: #BDE4FF;
  padding: 0em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  margin: 0;
}

header nav {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav ul#menu-titles {
  padding: 0;
  margin: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul#menu-titles li {
  list-style-type: none;
  text-align: center;
  font-weight: 600;
  padding: .5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav ul#menu-titles li#title {
  font-weight: 700;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header nav ul#menu-titles li#title div#pipescore-dropdown {
  display: none;
}

header nav ul#menu-titles li#title:hover > div#pipescore-dropdown {
  display: block;
  padding-top: 1rem;
  margin: 0;
  position: absolute;
  background: #BDE4FF;
  left: 0;
  text-align: left;
}

header nav ul#menu-titles li#title:hover > div#pipescore-dropdown ul {
  margin: 0;
  padding: 0;
}

header nav ul#menu-titles li.menu-title {
  cursor: pointer;
  color: #747474;
}

header nav ul#menu-titles li.viewing {
  background: #26A5FF;
  color: #fff;
}

header nav .menu {
  background: #26A5FF;
  display: none;
  width: 100%;
  height: 5rem;
  color: #fff;
}

header nav .menu.viewing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .menu textarea {
  resize: none;
  padding: .2rem;
  margin: .2rem;
  font-family: inherit;
  font-size: inherit;
}

header nav .menu textarea:disabled {
  cursor: not-allowed;
}

header nav .menu section {
  padding: .5rem 2rem;
  font-size: .9rem;
  vertical-align: top;
}

header nav .menu section.mode-section {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
}

header nav .menu section#apply-to-selected-gracenotes {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
}

header nav .menu section#font-properties {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header nav .menu section h1 {
  margin: 0 0 1rem;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  border-bottom: 1px solid;
}

header nav .menu section ul#note-ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu section ul#note-ul li {
  list-style-type: none;
  margin: 0 .2rem;
  border-radius: 1rem;
}

header nav .menu section div#time-sig-value {
  display: inline-block;
  position: absolute;
  margin-left: 2rem;
  margin-top: -.75rem;
}

header nav .menu section div#time-sig-value * {
  display: list-item;
  width: 2rem;
}

header nav .menu section label#dot-notes-label {
  padding: .2rem;
  position: relative;
  top: -.15rem;
}

header nav .menu section label#font-size-label {
  margin-left: .4rem;
}

header nav .menu section input[type="number"] {
  width: 4rem;
}

header nav .menu section input[type="radio"] {
  display: none;
}

header nav .menu section input[type="radio"] + label {
  cursor: pointer;
  padding: .2rem;
  border-radius: .2rem;
}

header nav .menu section input[type="radio"]:checked + label {
  background: #BDE4FF;
  color: #000;
}

header nav .menu section button {
  font-family: inherit;
  font-size: inherit;
  background: #BDE4FF;
  border-radius: .2rem;
  border: 1px solid #57baff;
  margin: 0 calc(.2rem-2px);
}

header nav .menu section button:active {
  color: white;
  background: #26A5FF;
}

header nav .menu section select {
  font-family: inherit;
  font-size: inherit;
}

header nav .menu section a {
  color: inherit;
}

#page {
  display: block;
  margin: 1em;
  margin-right: auto;
  margin-left: auto;
  width: 1050px;
  /*  need to find better way */
}

#error {
  display: none;
  background: red;
  margin: 0;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: .5rem;
  border-radius: 1rem 0 0 0;
  -webkit-transition: display 1s;
  transition: display 1s;
}

#error p {
  background: #ff6666;
  margin: 0;
  padding: 1rem;
  border-radius: .5rem 0 0 0;
}

#too-small {
  display: none;
}

/*
@media only screen and (max-width: 1050px) {
	body * {
		display: none;
	}
	#too-small {
		display: block;
		width: 100%;
		height: 100%;

		* {
			display: block;
			margin: 1rem auto;
			padding: 0 .5rem;
			text-align: center;
		}
	}
}*/
#grid-unsupported {
  display: none;
}

@supports not (display: grid) {
  #grid-unsupported {
    display: block;
    width: 100%;
    height: 100%;
  }
  #grid-unsupported * {
    display: block;
    margin: 1rem auto;
    padding: 0 .5rem;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */